USE [master]
GO
/****** Object:  Database [DrankenDB]    Script Date: 7-6-2020 12:26:21 ******/
CREATE DATABASE [DrankenDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DrankenDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DrankenDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DrankenDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DrankenDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DrankenDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DrankenDB]
GO
/****** Object:  Table [dbo].[dranken]    Script Date: 7-6-2020 12:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dranken](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nchar](50) NULL,
	[Soort] [nchar](15) NULL,
	[Prijs] [nchar](10) NULL,
 CONSTRAINT [PK_dranken] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
