<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dranken.Properties.Settings.DrankenConnectionString"
            connectionString="Data Source=DESKTOP-7D08HQG\SQLEXPRESS;Initial Catalog=Dranken;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dranken.Properties.Settings.DrankenDBConnectionString"
            connectionString="Data Source=DESKTOP-7D08HQG\SQLEXPRESS;Initial Catalog=DrankenDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>